# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
config/settings.py
config

# Output files
output/visualizations/*
!output/visualizations/.gitkeep

# IDE specific files
.vscode/
.idea/

# macOS
.DS_Store
